@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MVC!</h1>
    <p class="display-6">Pleased to serve you at the Marvelous Vault of Coffee! Register online to gain now for a 5% discount on all future purchases and entry into our rewards program.</p>
</div>

</div>