@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>MVC LLC will not sell or share your information with any third-party company without your consent. MVC LLC is not liable for any damages as a result of unintended consequences of adding 
    this data to their company database, except as required by law.</p>
