@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="registeredUser" asp-action="AddMemberToDb">
    <div class="right">First Name:</div> <div class="left"><input type="text" name="FirstName" maxlength="30" /></div><br />
    <div class="right">Last Name:</div> <div class="left"><input type="text" name="LastName" maxlength="30" /></div><br />
    <div class="right">Email:</div> <div class="left"><input type="text" name="Email" maxlength="30" /></div><br />
    <div class="right">Password:</div> <div class="left"><input type="text" name="Password" maxlength="30" /></div><br />
    <div class="left"><input type="submit" /></div>
</form>